<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <p>{{movie.title}}</p>
  <p>{{movie.original_title}}</p>
  <p>{{movie.popularity}}</p>
  <p>{{movie.runtime}}</p>
  <p>{{movie.release_date}}</p>
  <p>{{movie.credit}}</p>
  <p>{{movie.genres}}</p>
  <p>{{movie.poster}}</p>
  <p>{{movie.videos}}</p>
  
</body>
</html>