{% extends 'base.html' %}
  {% block title %}
  <title>영화 상세보기</title>
  {% endblock %}
  {% block css %}
  <style>
    body {
      background: #131313;    
    }
    * {
      color: white;
    }
    p {
      font-size: 1.2rem;
    }
    .en-title {
      font-size: 25px;
    }
    hr {
      color: white;
      border-color: white;
      background-color: white;
    }
    .comment {
      color: white;
    }
    .poster-img {
      transition: all 0.5s;
    }
    .poster-img:hover {
      transform: scale(1.1);
    }
  </style>
  {% endblock %}

  {% block body %}
  {% include '_navbar.html' %}
  <div class="container border border-dark">
    <div class="row mt-5">
      <div class="col-4">
          <img src="https://image.tmdb.org/t/p/w300{{movie.poster}}">
      </div>
      <div class="col-8">
          <h1>{{movie.title}} <span class="en-title">({{movie.original_title}})</span></h1>
          <p>장르:
            {% for genre in movie.genres %} 
            <span>{{genre}}</span>
            {% endfor %}
          </p>
          <p>{{movie.overview}} </p>
          <p>인기도: {{movie.popularity}}</p>
          <p>상영시간: {{movie.runtime}}분</p>
          <p>개봉일: {{movie.release_date}}</p>
          {% if user in movie.like_users.all %}
          <button id="like-button" data-id="{{movie.movieid}}" type="button" class="btn btn-success">좋아요 취소</button>
          {% else %}
          <button id="like-button" data-id="{{movie.movieid}}" type="button" class="btn btn-secondary">좋아요</button>
          {% endif %}
      </div>
    </div> 
    {% if movie.videos %}
    <div class='mt-3'>
      <hr>
      <h1>예고편</h1>
      <div style="text-align: center;">
        <iframe width="1000" height="600" src="https://www.youtube.com/embed/{{movie.videos}}" frameborder="0" allowfullscreen></iframe>
      </div>    
    </div> 
    {% endif %}
    {% if re_movie %}
    <div class="mt-3">
      <hr>
      <h1>추천영화</h1>
      <div class="row">
        {% for movie in re_movie %}
          <div class="col-2">
            <a href="{% url 'movies:detail' movie.pk %}"><img width="100%" class="poster-img" src="https://image.tmdb.org/t/p/w200{{movie.poster}}"></a>
            <p class="mt-2">{{movie.title}}</p>
          </div>
        {% endfor %}
      </div>
    </div>
    {% endif %}
    <div class="mt-3">
      <hr>
      <h1>출연진</h1>
      <div class="row">
      {% for item in movie.credit %}
        <div class="col-2">
          {% if item.profile_path %}
          <img  width="100%" src="https://image.tmdb.org/t/p/w200{{item.profile_path}}">
          {% else %}
          <span>[사진없음]</span>
          {% endif%}
          <p>{{item.name}}</p>
        </div>
      {% endfor %}
      </div>
    </div>
    <div class="mt-3">
    <hr>
    <h1>평점</h1>
      {% if 'true'%}
    <div>
      <form action="{% url 'movies:c_comment' movie.pk %}" method="POST">
        {% csrf_token%}
        <div class="row">
          <div class="form-group col-2">
            <label class="comment" class="score" for="content">평점 </label>
            <input type="number" class="form-control" id="score" name="score">
          </div>
          <div class="form-group col-10">
            <label class="comment" for="content">댓글</label>
            <input type="text" class="form-control" id="content" placeholder="댓글 작성" name="content">
          </div>
        </div>
        <input class="d-block btn btn-dark ml-auto mt-2 " type="submit" value="등록">
      </form>
    </div>
    {% else %}
    <div class="comment-block">
      <h3>이미 리뷰를 등록한 영화입니다.</h3>
    </div>
    {% endif %}
    {% for comment in comments %}
    <p>
      <span>{{comment.user}} | {{comment.score}}점 |</span> {{comment.content}}
      {% if user == comment.user %}
      <button>X</button>
      {% endif %}
    </p>
    {% endfor %}
    </div>
  </div>
  {% endblock %}

  {% block script %}  
  <script>
    const likeButton = document.querySelector('#like-button')
    likeButton.addEventListener('click', function(event) {
      axios.get(`/movies/${event.target.dataset.id}/like`)
        .then(response => {
          if(response.data.is_liked) {
            event.target.classList.remove('btn-secondary')
            event.target.classList.add('btn-success')
            event.target.innerText = '좋아요 취소'
          } else {
            event.target.classList.remove('btn-success')
            event.target.classList.add('btn-secondary')
            event.target.innerText = '좋아요'
          }
        })
        .catch(error => {
          console.log(error)
        })
      })
  </script>
  {% endblock %}
