{% load static %}

<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'accounts/css/genre_style.css' %}">
  <title>Genre</title>
</head>
<body>
  <!-- display:none 시킬 form들-->
  <form action="">
    {% for genre in Genres %}
    <input type="checkbox" name="genre" value='genre.id' id="{{genre.name}}">
    {% endfor %}
    <input class="genre-submit" type="submit" value="저장">
  </form>
  <!-- 메인 div -->
  <header>
    {% if user.is_authenticated %}
    <p style="color:white">{{ user.username }}</p>
    {% endif %}
  </header>
  <div class="genre-bg">
    <div class="container">
      <div class="row">
        {% for genre in genres %}
          <div class="genre_box col-2">
            <label for="{{genre.name}}" onClick="count_ck(this)">{{genre.name}}</label>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>

  <footer>
  </footer>


  <script>
  function count_ck(obj){
  var chkbox = document.getElementsByName("genre");
  var chkCnt = 0;
  for(var i=0;i<chkbox.length; i++){
    if(chkbox[i].checked){
        chkCnt++;
      }
    }
    if(chkCnt>2){
      alert("장르는 3개까지 선택 가능합니다.");
      obj.checked = false;
      return false;
    }
  }
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
</body>
</html>