{% extends 'base.html'%}

{% block css %}
  <style>
    * {
      color: white;
    }
    body {
      background: #131313;    
    }
    hr {
      color: white;
      border-color: white;
      background-color: white;
    }
  </style>
{% endblock %}
{% block title %}
  <title>프로필</title>
{% endblock %}


{% block body %}
  {% include '_navbar.html' %}
  <div class="container">
    <h1>이곳은 프로필 페이지랍니다</h1>
    <p>{{user.username}}</p>

    <h2>좋아요한 영화</h2>
    <div class="row">
      {% for movie in user.like_movies.all %}
      <div class="col-3">
        <a href="{% url 'movies:detail' movie.movieid %}"><img width="100%" src="https://image.tmdb.org/t/p/w500{{movie.poster}}"></a>
        <p>{{movie.title}}</p>
      </div>
      {% endfor %}
    </div>

    <h2>평점 관리</h2>
    {% for comment in user.comment_set.all %}
      <span>{{comment.movie.title}} 평점</span>
      <span>{{comment.score}} | <span>{{comment.content}}</span></span>
      <form action="{% url 'movies:c_delete' comment.movie.movieid comment.pk %}" method="POST" class="d-inline ">
        {% csrf_token %}
        <button type="submit" class="btn btn-dark">평점삭제</button>
      </form> <hr> 
    {% endfor %}
  </div>
{% endblock %}

{% block script %}
{% endblock %}