body {
  /* background-color: black; */
}
.genre-bg {
  /* background-color: black; */
  background-color: #131313;
  background-size: cover;
  background-repeat: no-repeat;
  /* transition: all 0.5s; */
}

.genre_box {
  height: 200px;
  padding: 20px;
}
/* input[type="checkbox"] {
  display: none;
}     */
label {
  width: 150px;
  height: 150px;
  line-height: 150px;
  font-size: 1.5rem;
  background-color: black;
  opacity: .6;
  text-align: center;
  color: white
}
label:hover {
  opacity: .8;
}
.select-label {
  opacity: 1 !important;
  color: yellow;
}
header {
  height: 80px;
  background-color: black;
}
footer {
  height : 80px;
  background-color: black;
}
.genre-submit {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: #00BFF9;
  border: none;
  color: white;
}